<style>
h2 {
	margin-left: 500px;
	font-size: 50px;
	font-family: Lucida Handwriting;
}

p {
	margin-left: 100px;
	font-size: 27px;
	font-family: cursive;
}

ol {
	margin-left: 150px;
	font-size: 25px;
	font-family: sans-serif;
}
</style>
<!DOCTYPE html>
<html>
	<head>
		
		<title>CONTACT US</title>
	</head>
	<body background="http://40.media.tumblr.com/tumblr_l5phswGBBI1qcdtsho1_1280.jpg" />
		<h2> CONTACT US </h2>
			<p> For any further queries feel free to contact us at:- </p>
			<ol>	
				<li>Gargi Gupta - 994567890 </li>
				<li>Aditi Bainss - 9876543210 </li>
				<li>Manik Arora - 7834859699 </li>
				<li>Akarsha Sehwag - 8863657968</li>
			</ol>
			<p> Queries can also be made at<strong> manik2808@gmail.com</strong> </p>
	</body>
</html>