<style>
h2 {
	margin-left: 500px;
	font-family: Lucida Handwriting;
	font-size: 50px;
	opacity: 1;
	color: #ffffff;
}

p {
	text-align: center;
	font-size: 25px;
	opacity: 1;
	color: #ffffff;
}

</style>
<!DOCTYPE html>
<html>
	<head>
		<title>FASHION</title>
	</head>
	<body background="http://2.bp.blogspot.com/-l3C6DxKN_iQ/VU2tHd9DXqI/AAAAAAAADUQ/N8L6ZVt2MRs/s1600/brush-background.jpg" />
		<h2>FASHION</h2>
			<p><em>Fashion is not something that exists in dresses only. Fashion is in the sky, in the street, fashion has to do with ideas, the way we live, what is happening.</em>
			</p>
			<p><em>A complete platform for budding photographers to showcase their talent with the camera in the colorful and vibrant world of fashion. </em></p>
			<p><em>It also provides an opportunity to writers for dishing out just the perfect fashion tips and tricks. </em></p>
			<p><em>Happy Blogging to you!</em></p>
			
			<h1 style="color:#ffffff; position:absolute; left:41%; font-size:40px"> New Blog Post </h1>
	<div style="position:absolute; top:77%; left: 36%"><form method="POST" class = "post-form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save btn btn-default" style="position:absolute; left:47%"> Save Post </button>
	</form>
	</body>
</html>